/*Inicio section1*/

.fila3{
	background-image: url(../img/dance_1.jpg);
	background-size: cover;
	height: 340px;
}

.p1studio{
	color: #B6AEAE;
	font-size: 60px;
	font-weight: bold;
	margin-left: 90px;
	display: inline-block;
	margin-bottom: 15px;
}

.p2studio{
	color: #B6AEAE;
	font-size: 13px;
	margin-left: 90px;
}

.boton1{
	background-color: #171C86;
	width: 110px;
	height: 30px;
	border: 1px #171C86 solid;
	border-radius: 3px 3px;
	margin-top: 20px;
	margin-left: 90px;
	font-weight: bold;
	color: #B6AEAE;
}

/*Fin section2*/

/*Inicio section3*/

.fila4{
	background-image: url(../img/textura_2.jpg);
	background-size: 550px;
	height: 380px;
}

.boton2{
	background-color: #171C86;
	width: 300px;
	height: 60px;
	border: 1px #171C86 solid;
	border-radius: 3px 3px;
	font-weight: bold;
	color: #B6AEAE;
	display: inline-block;
	margin-left: 125px;
}

.fila4p{
	margin-top: 60px;
	font-size: 23px;
	text-align: center;
}

.fila4img{
	width: 120px;
	height: 120px;
	margin-top: -50px;
	margin-left: 210px;
}

/*Fin section3*/

/*Inicio section4*/

.dosprofesores1{
	background-image: url(../img/instructor_4.jpg);
	background-size: cover;
	height: 270px;

}

.dosprofesores2{
	background-image: url(../img/profesor_9.jpg);
	background-size: cover;
	height: 270px;
}

.boton3{
	background-color: #171C86;
	width: 490px;
	height: 70px;
	border: 1px #171C86 solid;
	border-radius: 3px 3px;
	font-weight: bold;
	color: #B6AEAE;
	display: inline-block;
	margin-left: -260px;
	position: relative;
	margin-top: 200px;
	font-size: 20px;
}

/*Fin section4*/

/*Inicio section5*/

.fila6{
	background-image: url(../img/textura_2.jpg);
	background-size: 550px;
	height: 300px;
}

.lema{
	font-style: italic;
	font-size: 40px;
	text-align: center;
	margin-top: 100px;
}

/*Fin section5*/

/*Inicio section6*/

.fila7{
	background-color: #171C86;
	height: 380px;
}

.p1mapa{
	color: #B6AEAE;
	margin-left: 70px;
	font-size: 13px;
	margin-top: 55px;
}

.p2mapa{
	color: #B6AEAE;
	margin-left: 70px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 0px;
}

.p3mapa,.p4mapa,.p5mapa,.p6mapa{
	font-size: 13px;
	color: #B6AEAE;
	margin-left: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

iframe{
	margin-top: 55px;
}

/*Fin section6*/